body{
  background-color: lime;
  }
.navbar {
  background-color: #534741;
  height: 60px;
}

.logo {
  height:40px;

}
.navcontainer {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.bklg {
  background-color: #D8D7D6;
}

